html, body {
  height: 100%;
}
body{
  margin: 0%;
  background-color: #f1f1f1;
}
Header{
  background-color: #00A09C;
  padding: 20px 30px 25px;
}
a{
  text-decoration: none;
}
.HeaderDere{
  float: right;
  text-align: right;
}
.LogoClini{
  max-width: 15%;
}
.UserIco{
  max-width: 7%;
}
.NomUsu{
  font-size: 30px;
  color: black
}
.Histori{
  margin: 10px;
  font-size: 18px;
}
.Histori a{
  color: grey;
}

h1{
  color: #0B5EA6;
  text-align: center;
}
#CuadHoras{
  background-color: #5bc0be;
  margin: auto;
  margin-bottom: 2%;
  width: 50%;
  padding: 20px 30px 25px;
  position: relative;
  font-size: 20px;
  border-radius: 8px;
  border-style: solid;
  border-color: #0e68ee;
}
.Conten{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#MensSinHoras{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.MensRecord{
  text-align: center;
  font-size: 30px;
  margin: 50px;
}
.btn.btn-primary{
  margin: 1%;
}

.close {
  text-align: right;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


body > footer {
  position: sticky;
  top: 100vh;
}
footer{
  background-color: #00A09C;
  padding: 30px 30px 40px;
}
.FootDere{
  float: right;
  text-align: right;
  margin-top: -20px;
}
footer a{
  font-size: 20px;
  color: white;
  padding-left: 15px;
}
.LogosExter{
  width: 15%;
}