body{
    background-color: #e2e2e2;
}
h1{
    text-align: center;
}
Form{
    background-color: aliceblue;
    margin: auto;
    max-width: 30%;
    border: 3px solid rgb(0, 81, 255);
    border-radius:10px;
    box-shadow:0 20px 35px rgba(0,0,1,0.9);
    padding: 20px;
}
label{
    padding-top: 10px;
}