html, body {
  height: 100%;
}
body{
  margin: 0%;
  background-color: #f1f1f1;
}
Header{
  background-color: #00A09C;
  padding: 20px 30px 25px;
}
a{
  text-decoration: none;
}
.HeaderDere{
  float: right;
  text-align: right;
}
.LogoClini{
  max-width: 15%;
}
.UserIco{
  max-width: 7%;
}
.NomUsu{
  font-size: 30px;
  color: black;
}

button{
  background-color: #00AFAE;
  border-radius: 8px;
  border-color: aliceblue;
  width: 50%;
  padding: 30px;
  margin: 10px;
  margin-bottom: 0%;
  font-size: 30px;
  transition-duration: 0.4s;
  color: white;
}
.active, .collapsible:hover{
  background-color: #0B5ED7;
}
.ContCollap{
  border-radius: 8px;
  border-color: aliceblue;
  width: 50%;
  margin: auto;
  font-size: 30px;
  display: none;
  overflow: hidden;
  background-color: #b8cfcf;
}
.Botones{
  margin-top: 20px;
  text-align: center;
}
ul{
  border: 2px solid #F1F1F1;
  padding: 0%;
  margin-bottom: 0;
  border-radius: 8px;
}
li{
  text-align: left;
  font-size: 20px;
  padding: 8px 16px;
  border-bottom: 2px solid #F1F1F1;
}
ul li:last-child {
  border-bottom: none;
}

body > footer {
  position: sticky;
  top: 100vh;
}
footer{
  background-color: #00A09C;
  padding: 30px 30px 40px;
}
.FootDere{
  float: right;
  text-align: right;
  margin-top: -20px;
}
footer a{
  font-size: 20px;
  color: white;
  padding-left: 15px;
}
.LogosExter{
  width: 15%;
}