html, body {
  height: 100%;
}
body{
  margin: 0%;
  background-color: #f1f1f1;
}
Header{
  background-color: #00A09C;
  padding: 20px 30px 25px;
}
a{
  text-decoration: none;
}
.HeaderDere{
  float: right;
  text-align: right;
}
.LogoClini{
  max-width: 15%;
}
.UserIco{
  max-width: 7%;
}
.NomUsu{
  font-size: 30px;
  color: black
}
.Histori{
  margin: 10px;
  font-size: 18px;
}
.Histori a{
  color: grey;
}


.Botones{
  text-align: center;
}
.Botones button{
  background-color: #00AFAE;
  text-align: left;
  font-size: 25px;
  margin: 10px;
  padding: 30px;
  width: 40%;
}
.Botones p{
  color: white;
}
.MensRecord{
  text-align: center;
  font-size: 30px;
  margin: 50px;
}

body > footer {
  position: sticky;
  top: 100vh;
}
footer{
  background-color: #00A09C;
  padding: 30px 30px 40px;
}
.FootDere{
  float: right;
  text-align: right;
  margin-top: -20px;
}
footer a{
  font-size: 20px;
  color: white;
  padding-left: 15px;
}
.LogosExter{
  width: 15%;
}