body{
    background-color: #e2e2e2;
}
h1{
    text-align: center;
}
#IniSes, #Creausu{
    background-color: aliceblue;
}
.FormuIngre{
    margin: auto;
    max-width: 20%;
    border: 3px solid rgb(0, 81, 255);
    border-radius:10px;
    box-shadow:0 20px 35px rgba(0,0,1,0.9);
    padding: 10px;
    text-align: center;
}
form{
    display: table;
}
.FormContene{
    display: table-row;
    align-items: center;
}
label{
    display: table-cell;
    font-size: 20px;
}
input[type="text"], input[type="password"], input[type="tel"], input[type="email"]{
    margin: 10px;
    border: 3px solid #ccc;
    outline: none;
    padding: 5px;
    transition: 0.5s;
    border-radius: 4px;
    width: 100%;
    display: table-cell;
}
input:focus{
    border: 3px solid #5f9ceb;
}
.OtraOpcion{
    display:flex;
    margin: 10px;
}
button{
    color:#7d7deb;
    border:none;
    background-color:transparent;
    font-weight:bold;
    margin-top: -15px;
}
.Espacio{
    margin: 10px;
}

.MensError{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: red;
}
.MensCreaUsu{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: green;
}
